@import 'nib'
@require '~@/css/placeholder'
@require '~@/css/variables'

.men-button 
    outline: none;
    position: relative
    background #ffffff
    color #292C3C 
    font-family: SF Pro Text
    font-style: normal
    font-weight: normal
    font-size: 16px    
    border: 2px solid #FFFFFF
    &:hover, &.-hover
        font-family: SF Pro Text
        font-style: normal
        font-weight: normal
        color #787B88
        border-radius: 8px
        background #ffffff
        border: 2px solid #FFFFFF 
    &:active, &.-active
        font-family: SF Pro Text
        font-style: normal
        font-weight: normal
        color #292C3C
        border-radius: 8px
        background #ffffff
        border: 2px solid #FFFFFF
    &:focus, &.-focus
        font-family: SF Pro Text
        font-style: normal
        font-weight: normal
        color #292C3C
        border-radius: 8px
        background #ffffff
        border: 2px solid #FFFFFF
    &:disabled, &.-disabled        
        font-family: SF Pro Text
        font-style: normal
        font-weight: normal
        color #C2CFE0
        border-radius: 8px
        background #ffffff
        border: 2px solid #FFFFFF
    